<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c108bdb3-3681-4924-a018-71876fe51a8f/resourceGroups/MihailGoranDenisFinalProject20240613151815ResourceGroup/providers/Microsoft.Web/sites/MihailGoranDenisFinalProject20240613151815</ResourceId>
    <ResourceGroup>MihailGoranDenisFinalProject20240613151815ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mihailgorandenisfinalproject20240613151815.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>7350da89-57e5-43a0-b867-97b8fce9f31b</ProjectGuid>
    <MSDeployServiceURL>mihailgorandenisfinalproject20240613151815.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MihailGoranDenisFinalProject20240613151815</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$MihailGoranDenisFinalProject20240613151815</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>